<section class="ksma-list-search-results" is="ksma-list-search-results">
    {% include 'Partials/_header.twig' %}
    {% include 'Partials/_results.twig' %}
    {% if pagination %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %}
</section>
