.ksma-search-hero {
  border-bottom: 1px solid $white-df3;
  margin-bottom: 30px;
  padding-bottom: 30px;

  @include spec(white) {
    border-color: $black;
  }
  @include spec(black) {
    border-color: $white;
  }

  &__title {
    margin-bottom: 30px;

    @include spec(black) {
      color: $white;
    }
  }
}